* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, select, button, a {
  font-family: 'Ubuntu', sans-serif;
  color: #32495b;
}

.tophead {
  width: 100%;
  height: 100px;
  background-color: #f4f9fd;
  padding: 0 10%;
  line-height: 100px;
  border-bottom: 1px solid #32495b;
}

.english {
  border: none;
  padding-left: 10px;
  background-color: #f4f9fd;
  width: 100px;
  font-size: 15px;
}

.contactus {
 margin-left: 20px;
 border-left: 1px solid black;
 padding-left: 30px;
 text-decoration: none;
}

.fa-search {
  margin-left: 1000px;
}

.login {
  background-color: inherit;
  color: #fe775a;
  border: 2px solid #fe775a;
  margin-left: 30px;
  padding: 10px;
  border-radius: 6px;
}

.getfree {
  background-color: #fe775a;
  color: white;
  border: 2px solid #fe775a;
  margin-left: 15px;
  padding: 10px;
  border-radius: 6px;
}

.bothead {
  width: 100%;
  height: 100px;
  padding: 0 10%;
  line-height: 100px;
}

.logoheader {
  margin-top: 32.5px;
}

.software, .resources, .partners, .about {
  border: none;
  width: 100px;
  font-size: 15px;
  margin: 0 15px;
}

.software {
  margin-left: 840px;
}

.jumbotron {
  width: 100%;
  height: 700px;
  background-color: #fff5ef;
  background-image: url(../img/jumbotron.png);
  background-position: right 0;
  background-repeat: no-repeat;
  position: absolute;
  padding: 60px 10%;
}

.testititoli {
  width: 565px;
  height: auto;
}

.titolone {
  font-size: 50px;
  font-weight: bold;
}

.sottotitolone {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.gethubbig {
  background-color: #fe775a;
  color: white;
  border: 2px solid #fe775a;
  font-size: 15px;
  padding: 20px 40px;
  border-radius: 6px;
  margin: 40px 0;
}

.lineaverde {
  width: 100%;
  height: 90px;
  background-color: #afebe4;
  border: 3px solid #33475b;
  position: relative;
  border-right: 0;
  border-left: 0;
  margin-top: 610px;
}

.contenitoremain {
  width: 100%;
  height: 1540px;
  background-color: #f4f9fd
}

.powerful {
  width: 80%;
  height: 450px;
  margin: auto;
  text-align: center;
}

#cubo {
  width: 300px;
  margin-top: 20px;
}

#sottopower {
  margin: 25px 20%;
  line-height: 1.4;
}

.freehub {
  width: 80%;
  height: 350px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.freehub:after {
  content: "";
  display: table;
  clear: both;
}

.freesx {
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
}

#imglibro {
  width: 300px;
  margin-top: 15px;
}

.learnmore {
  background-color: #fe775a;
  color: white;
  border: 2px solid #fe775a;
  font-size: 15px;
  padding: 20px 40px;
  border-radius: 6px;
  margin: 25px 0;
}

.freedx {
  width: 70%;
  height: 100%;
  float: left;
}

#freecrm {
  margin: 50px 0;
}

#sottocrm {
  line-height: 1.4;
  margin-bottom: 30px;
}

.dentrocrm {
  margin-top: 30px;
  padding: 0 5px 0 20px;
  color: #fe775a;
}

.contactinsight {
  padding-left: 0;
}

.row {
  width: 80%;
  margin: 20px auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 30%;
  float: left;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.imgcolumn {
  width: 35%;
  margin: 30px auto;
  height: 170px;
}

#salestwo {
  width: 120%;
  margin-left: -10px;
}

.testocolonne {
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

.pcolonne {
  margin-top: 30px;
  font-size: 17px;
  padding-bottom: 40px;
  border-bottom: 1px solid #32495b;
}

.sottotitolocolonne {
  margin-top: 20px;
}

.spuntecolonne {
  text-align: left;
  display: block;
  font-size: 17px;
}

.checkcolonne {
  color: #fe775a;
}

.spuntecolonne:first-of-type {
  margin-top: 20px;
}

.two {
  margin: 0 5%;
}

.learnandgrow {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.titlelearn {
  width: 70%;
  margin: auto;
  color: white;
  padding-top: 30px;
  font-size: 40.5px;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  width: 80%;
  margin: auto;
  color: white;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
}

.tabella {
  width: 80%;
  height: 400px;
  margin: 40px auto;
}

.tabella:after {
  content: "";
  display: table;
  clear: both;
}

.tab {
  width: 25%;
  height: 50%;
  float: left;
  border: 1px solid white;
  text-align: center;
}

.imgtab {
  margin-top: 25px;
}

.titolitab {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
}

.sottotitolisub {
  color: white;
  margin-top: 20px;
}

.imgotto {
  margin-top: 30px;
}

.uno, .due, .tre, .quattro {
  border-top: 0;
}

.cinque, .sei, .sette, .otto {
  border-bottom: 0;
}

.uno, .cinque {
  border-left: 0;
}

.quattro, .otto {
  border-right: 0;
}

.contbianco {
  width: 80%;
  height: 700px;
  margin: auto;
}

.contsopra {
  width: 100%;
  height: 40%;
  margin: auto;
}

.contsopra::after {
  content: "";
  display: table;
  clear: both;
}

.soprasx {
  width: 35%;
  height: 100%;
  float: left;
}

.testisoprasx {
  width: 40%;
  margin: 30px auto;
  text-align: center;
}

.testisoprasx > p {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.testisoprasx > span {
  line-height: 1.5;
  font-size: 16px;
}

.sopradx {
  width: 65%;
  height: 100%;
  float: left;
}

.tabellaloghi {
  width: 80%;
  height: 150px;
  margin: 40px auto;
}

.tabella:after {
  content: "";
  display: table;
  clear: both;
}

.tablogo {
  width: 25%;
  height: 50%;
  float: left;
}

.logo1,.logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8 {
  width: 160px;
}

.logo1, .logo2 {
  margin-top: 25px;
}

.logo3 {
  margin-top: 12px;
}

.logo4 {
  margin-top: 8px;
}

.logo5 {
  margin-top: 8px;
}

.logo6 {
  margin-top: 16px;
}

.logo7 {
  margin-bottom: 8px;
}

.logo8 {
  margin-top: 10px;
}

.contsotto {
  width: 100%;
  margin: auto;
}

.contsotto::after {
  content: "";
  display: table;
  clear: both;
}

.sottosx {
  width: 50%;
  height: 420px;
  float: left;
}

.testosx {
  width: 73%;
}

.testosx > p:first-of-type {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.testosx > span {
  font-size: 16px;
  line-height: 1.5;
}

.sottodx {
  width: 50%;
  float: left;
}

.fotodx {
  width: 350px;
  height: auto;
  margin-left: 200px;
}

footer {
  width: 100%;
  height: 650px;
  background-color: #32495b;
}

.rowfooter {
  width: 80%;
  height: 450px;
  margin: 30px auto;
}

.rowfooter:after {
  content: "";
  display: table;
  clear: both;
}

.contlista {
  width: 25%;
  height: 450px;
  float: left;
}

.contlista > p {
  margin: 50px 0;
  font-weight: bold;
  color: white;
  font-size: 17px;
}

.contlista > ul > li {
  color: #cbd6e2;
  list-style: none;
  font-size: 17px;
  margin: 20px 0;
}

.contactsupport {
  background-color: #cbd6e2;
  color: #32495b;
  font-size: 15px;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid #cbd6e2;
}

.loghifooter {
  color: white;
  margin: 20px 25px 0 0;
}

.sottofooter {
  width: 80%;
  margin: auto;
  height: auto;
  text-align: center;
}

.lingue {
  height: auto;
  border-bottom: 1px solid #cbd6e2;
  padding-bottom: 20px;
}

.lingue > a {
  color: #cbd6e2;
  text-decoration: none;
  margin: 0 15px;
}

.finale {
  width: 100%;
  height: auto;
  margin-top: 40px;
  text-align: left;
}

.finale::after {
  content: "";
  display: table;
  clear: both;
}

.finalesx {
  width: 50%;
  float: left;
}

.finalesx > img {
  margin-bottom: 15px;
}

.finalesx > span {
  color: white;
}

.finaledx {
  width: 50%;
  float: left;
  text-align: right;
}

.finaledx > span {
  color: white;
  margin: 0 15px;
}
